h1
{
  margin-bottom: 20px;
  color:gray ;
  text-align: center;
}

.listElem
{
  padding: 5px;
  position: relative;
}

.categoryName
{
  margin-right: 5px;
  float : right ;
}

.itemList li
{
   margin-bottom: 4px ;
}

.itemList li:nth-child(odd)
{
  background-color:#eee;
}

.itemList li:nth-child(even)
{
  background-color:#b5e5f5;
}

.itemList li[ui-sref]:hover
{
  background-color:#F4A460;
  cursor: pointer ;
  color:white ;
}

.categoriesBtn
{
  margin-bottom: 20px;
  text-align: center;
}

.itemPrice
{
  float : right ;
  font-weight: bold;
}

.infoBanner
{
  padding: 10px;
  width: 100%;
  margin-bottom: 20px ;
  text-align: center;
}
